<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>Flask Tutorial</title>
  </head>  
  <body>
      <h1>My First Try Using Flask</h1>
      <p>Flask is Fun</p>
      <h2 style= "color: red;">Hello, {{name}}</h2>
      <h2 style= "color: rgb(0, 255, 76);">Language: {{language}}</h2>
      <h3>{{2**5}}</h3>
      

      <form action="{{ url_for('home')}}" method="post"> 
        <!-- home ชื่อฟังค์ชัน -->
        <label for="firstname"> First Name:</label>
        <input type "text" id="firstname" name="fname" placeholder="first name">
        <label for="Lastname"> Last Name:</label>
        <input type "text" id="lastname" name="lname" placeholder="last name">
        <input type="radio" id="html" name="fav_language" value="HTML" placeholder="HTML name">
        <label for="html">HTML</label><br>
        <input type="radio" id="css" name="fav_language" value="CSS" placeholder="CSS name">
        <label for="css">CSS</label><br>
        <input type="radio" id="javascript" name="fav_language" value="JavaScript" placeholder="JavaScript name">
        <label for="javascript">JavaScript</label>
        <button type="submit">Login</button>
      </form>

      <!-- <form action="{{ url_for('home2')}}" method="post">
        
        <button type="submit">Submit</button>
      </form> -->
  </body>
</html>